<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prostate.stata.mapper.slaver.BloodGroupReadMapper">
  <resultMap id="BaseResultMap" type="com.prostate.stata.entity.BloodGroup">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="blood_group_name" jdbcType="VARCHAR" property="bloodGroupName" />
    <result column="blood_group_number" jdbcType="VARCHAR" property="bloodGroupNumber" />
    <result column="order_weight" jdbcType="VARCHAR" property="orderWeight" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_user" jdbcType="VARCHAR" property="deleteUser" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
  </resultMap>

  <sql id="CH_Column_List">
    blood_group_name
  </sql>
  <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="CH_Column_List" />
    from base_blood_group
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <sql id="Base_Column_List">
    id, blood_group_name, blood_group_number, order_weight, create_user, create_time, 
    update_user, update_time, delete_user, delete_time, del_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from base_blood_group
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <!-- 根据不同的参数 查询 学历列表 参数载体:com.prostate.stata.entity.Education -->
  <resultMap id="BloodGroupListResultMap" type="com.prostate.stata.entity.BloodGroup">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="blood_group_name" jdbcType="VARCHAR" property="bloodGroupName" />
  </resultMap>
  <sql id="BloodGroupList_Column_List">
    id, blood_group_name
  </sql>
  <select id="selectByParams" parameterType="com.prostate.stata.entity.BloodGroup" resultMap="BloodGroupListResultMap">
    select
    <include refid="BloodGroupList_Column_List" />
    from base_blood_group
    <where>
      del_flag = 0
      <if test="bloodGroupName != '' and bloodGroupName != null">
        AND blood_group_name = #{bloodGroupName,jdbcType=VARCHAR}
      </if>
      <if test="bloodGroupNumber != '' and bloodGroupNumber != null">
        AND blood_group_number = #{bloodGroupNumber,jdbcType=VARCHAR}
      </if>
    </where>
    ORDER BY order_weight ASC
  </select>
</mapper>