<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prostate.stata.mapper.slaver.DoctorTitleReadMapper">
  <resultMap id="BaseResultMap" type="com.prostate.stata.entity.DoctorTitle">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="doctor_title_number" jdbcType="VARCHAR" property="doctorTitleNumber" />
    <result column="doctor_title_name" jdbcType="VARCHAR" property="doctorTitleName" />
    <result column="order_weight" jdbcType="VARCHAR" property="orderWeight" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_user" jdbcType="VARCHAR" property="deleteUser" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, doctor_title_number, doctor_title_name, order_weight, create_user, create_time, 
    update_user, update_time, delete_user, delete_time, del_flag
  </sql>
  <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from base_doctor_title
    where id = #{id,jdbcType=VARCHAR}
  </select>
</mapper>