<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prostate.stata.mapper.slaver.LablePatientReadMapper">
  <resultMap id="BaseResultMap" type="com.prostate.stata.entity.LablePatient">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="lable_name" jdbcType="VARCHAR" property="lableName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
  </resultMap>
  <sql id="Base_Column_List">
    id, lable_name, create_time, create_user
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from lable_patient
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <sql id="selectByToken_Column_List">
    id, lable_name
  </sql>
  <select id="selectByToken" parameterType="com.prostate.stata.entity.LablePatient" resultMap="BaseResultMap">
    select
    <include refid="selectByToken_Column_List" />
    from lable_patient
    <where>
      create_user is null
      <if test="createUser != null">
        OR create_user = #{createUser,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
</mapper>