<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prostate.stata.mapper.CityMapper">
  <resultMap id="BaseResultMap" type="com.prostate.stata.entity.City">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="parent_city_id" jdbcType="VARCHAR" property="parentCityId" />
    <result column="city_name" jdbcType="VARCHAR" property="cityName" />
    <result column="city_type" jdbcType="CHAR" property="cityType" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="city_weight" jdbcType="INTEGER" property="cityWeight" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_user" jdbcType="VARCHAR" property="deleteUser" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, parent_city_id, city_name, city_type, create_user, create_time, city_weight, 
    update_user, update_time, delete_user, delete_time, del_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from base_city city
    where id = #{id,jdbcType=VARCHAR}
  </select>


  <resultMap id="CountyResultMap" type="com.prostate.stata.beans.CityBean" >
    <id column="parentId" property="id" jdbcType="VARCHAR" />
    <result column="parentCityName" property="cityName" jdbcType="VARCHAR" />
    <collection property="cityList"  ofType="com.prostate.stata.beans.CityBean" javaType="ArrayList">
      <id column="childIdP" property="id" jdbcType="VARCHAR" />
      <result column="childCityNameP" property="cityName" jdbcType="VARCHAR" />
      <collection property="cityList"  ofType="com.prostate.stata.beans.CityBean" javaType="ArrayList">
        <id column="childIdC" property="id" jdbcType="VARCHAR" />
        <result column="childCityNameC" property="cityName" jdbcType="VARCHAR" />
        <collection property="cityList"  ofType="com.prostate.stata.beans.CityBean" javaType="ArrayList">
          <id column="childIdX" property="id" jdbcType="VARCHAR" />
          <result column="childCityNameX" property="cityName" jdbcType="VARCHAR" />
        </collection>
      </collection>
    </collection>
  </resultMap>

  <sql id="County_Column_List" >
    parentCity.id parentId, parentCity.city_name parentCityName,
    childCityP.id childIdP, childCityP.city_name childCityNameP,
    childCityC.id childIdC, childCityC.city_name childCityNameC,
    childCityX.id childIdX, childCityX.city_name childCityNameX
  </sql>
  <sql id="County_LEFT_JOIN" >
    LEFT JOIN base_city childCityP ON childCityP.parent_city_id = parentCity.id
    LEFT JOIN base_city childCityC ON childCityC.parent_city_id = childCityP.id
    LEFT JOIN base_city childCityX ON childCityX.parent_city_id = childCityC.id
  </sql>
  <select id="getCounty" resultMap="CountyResultMap" parameterType="com.prostate.stata.beans.CityBean">
    select
    <include refid="County_Column_List" />
    from base_city parentCity
    <include refid="County_LEFT_JOIN" />
    <if test="id == null or id =='' ">
      where parentCity.city_type= 0
    </if>
    <if test="id != null and id !='' ">
      where parentCity.id= #{id,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>