<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prostate.stata.mapper.ProfessionMapper">
  <resultMap id="BaseResultMap" type="com.prostate.stata.entity.Profession">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="profession_name" jdbcType="VARCHAR" property="professionName" />
    <result column="profession_number" jdbcType="VARCHAR" property="professionNumber" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_user" jdbcType="VARCHAR" property="deleteUser" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, profession_name, profession_number, create_user, create_time, update_user, update_time, 
    delete_user, delete_time, del_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from base_profession
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <!-- 根据不同的参数 查询 学历列表 参数载体:com.prostate.stata.entity.Education -->
  <resultMap id="ProfessionListResultMap" type="com.prostate.stata.entity.Profession">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="profession_name" jdbcType="VARCHAR" property="professionName" />
  </resultMap>
  <sql id="ProfessionList_Column_List">
    id, profession_name
  </sql>
  <select id="selectByParams" parameterType="com.prostate.stata.entity.Profession" resultMap="ProfessionListResultMap">
    select
    <include refid="ProfessionList_Column_List" />
    from base_profession
    <where>
      del_flag = 0
      <if test="professionName != '' and professionName != null">
        AND profession_name = #{professionName,jdbcType=VARCHAR}
      </if>
      <if test="professionNumber != '' and professionNumber != null">
        AND profession_number = #{professionNumber,jdbcType=VARCHAR}
      </if>
    </where>
    ORDER BY order_weight DESC
  </select>
</mapper>